.carsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.carsList .car {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.carsList .car header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.carsList .car header .car_info .title {
  color: #242731;
  font-size: 18px;
  font-weight: 700;
}

.carsList .car header .car_info p {
  color: #72767c;
  font-size: 16px;
  font-weight: 400;
}

.carsList .car img {
  height: 150px;
  width: 150px;
}
.carsList .car footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carsList .car .possibilities {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.carsList .car .possibilities .person,
.carsList .car .possibilities .manual {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #72767c;
}
.carsList .car .possibilities .person svg,
.carsList .car .possibilities .manual svg {
  color: #a162f7;
}
.carsList .car footer .price {
  color: #72767c;
}
.carsList .car footer .price span {
  color: #242731;
  font-weight: 500 !important;
}
